.encabezadoConteiner {
    height: 50px;
    width: 100%;
    background-color: #1877f2;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}
.cabeceraTop {

    display: flex;
    height: 50px;
    justify-content: center;
    width: 100%;
    background-color: #3B5BCD;

}
.cabeceraIzq {
    flex: 3;
    background-color: rgba(59, 91, 205, 1);
}
.cabeceraDer {
    flex: 1;
    display: flex;
    align-items: center;
}
.logo{
    vertical-align: middle;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    margin-left: 10px;


}
.miPerfil{
    font-size: 18px;
    font-weight: 400;
    border: none;
    font-family: 'Quicksand', sans-serif;
    color: white;
    background-color: #3B5BCD;
    width: 150px;
    margin-left: 300px;
}
